@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */


/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top:20px;
}

/* image grid styles */
.img-grid{
  margin:20px auto;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:10px;
  align-items: center;
  text-align:center;
}
.image-wrap{
  overflow:hidden;
  /* height:0; */
  opacity:0.9;
  position:relative;
  padding:50% 0;
}
.img{
  height:100%;
 width:100%;


  /* position:absolute;
  top:0;
  left:0; */
}

/* modal styles */
.backdrop{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(51, 51, 51, 0.383);
}

.backdrop img{
  display:block;
  max-width:60%;
  max-height:80%;
  margin:60px auto;
  box-shadow: 3px 5px 7px rgba(51, 51, 51, 0.5);
  border: 3px solid black;
}