@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.4rem;
  letter-spacing: 6px;
  font-weight: normal;  
  font-family: 'Dancing Script', cursive;

}
.title h2, .title p{
  text-align: center;
}
.title h2{
  color: var(--primary);
  margin-top: 60px;
  font-size: 2.6rem;
  
}
p{
  font-family:cursive;
}

/* upload form styles */
.uplodForm{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 40px;
  height: 45px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary);
  color: white;
}
.output{
  height: 10px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin:20px;
}

/* image grid styles */
.img-grid{
  margin:65px auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
}
.image-wrap{
  overflow:hidden;
  /* height:0; */
  opacity:0.9;
  position:relative;
  /* padding:50% 0; */
}
.img{
  height:80vh;
 width:100vh;
 margin: 20px auto;
}

/* modal styles */
.backdrop{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(51, 51, 51, 0.383);
}

.backdrop img{
  display:block;
  max-width:60%;
  max-height:80%;
  margin:60px auto;
  box-shadow: 3px 5px 7px rgba(51, 51, 51, 0.5);
  border: 3px solid black;
}


/* SignUp Form styling */

.signUpform, .loginForm{
  margin:12vh auto;
  width:600px;
  max-width:50vw;
  padding:20px;
  /* min-height:100vh; */
  box-shadow:1px 2px 4px black;
}

.inputField{
  text-align: center;
}

/* Title Upper Cont styling */
.upperCont{
  margin:0px;
  display:flex;
  flex-flow:row ;
  justify-content: space-between;
}

.profile {
  max-height:50px;
  text-align: center;
}
.user, .title h1 {
  margin:10px 0;
}

.user{
  font-family:cursive;
}

.user strong{
  font-family: "Noto Serif";
  color:var(--primary);
}
.logoutbtn{
  background-color:var(--primary);
  border: 1px solid #333;
  border-radius:60px;
  max-width:100px;
  width:80px;
  margin:2px auto;
  box-shadow:1px 1px 2px black;
}

.logoutbtn Button{
  font-size:14px;
  font-family: "Noto Serif";
  color:white;
}


.logoutbtn Button:hover{
  color:white;
}


@media screen and (max-width:638px){
  
.logoutbtn Button{
  font-size:12px;
}

.user{
  max-height:30px;
  font-size:10px;
}

.title h2,  .title h1{
  font-size:15px;
}
.title p{
  font-size:10px;
}

.img-grid{
  margin:45px auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
}
.image-wrap{
  overflow:hidden;
  opacity:0.9;
  position:relative;
}
.img{
  height:80vh;
  width:80vw;
 margin: 20px auto;
}
}

@media screen and (max-width:360px){
  
.img{
  height:60vh;
  width:60vw;
}
 /* margin: 20px auto; */
}


.crudBtns{
 margin-bottom: 50px;
  display:flex;
  flex-flow:row no-wrap;
  justify-content: space-evenly;
}